.t17-social-wall-button {
  color: @button-color;
  background-color: @button-background-color;
  border-style: solid;
  border-width: @button-border-width;
  border-color: @button-border-color;
  border-radius: @button-border-radius;
  padding: @button-padding-vertical @button-padding-horizontal;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.t17-social-wall-button:hover,
.t17-social-wall-button-active {
  color: @button-color-hover;
  background-color: @button-background-color-hover;
  border-color: @button-border-color-hover;
}
.t17-social-wall-drop-down {
  > a {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  .t17-social-wall-drop-down-elements {
    position: absolute;
    top: -12px;
    right: -12px;
    margin: 0;
    list-style: none;
    background-color: #FFF;
    padding: 8px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    z-index: 1;
    border-radius: 3px;
    overflow: hidden;
    min-width: 55px;
    box-sizing: border-box;

    li {
      text-align: center;
      height: 48px;
      cursor: pointer;
      position: relative;
      margin: 0;

      &:hover {
        background-color: #f2f2f2;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
      }

      svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }

      &.facebook {
        svg {
          path {
            fill: #3b5998;
          }
        }
      }
      &.twitter {
        svg {
          path {
            fill: #329acf;
          }
        }
      }
    }
  }
}
