// API settings
@global-text-color: #000;
@primary-color: #fff;
@primary-background-color: #333333;
@button-color: #fff;
@button-background-color: #000;

// Button
@button-color-hover: @button-color;
@button-background-color-hover: darken(@button-background-color, 15%);
@button-border-width: 2px;
@button-border-radius: 4px;
@button-border-color: @button-background-color-hover;
@button-border-color-hover: @button-background-color-hover;
@button-padding-vertical: 8px;
@button-padding-horizontal: 12px;

// Post Item
@post-item-color: @primary-color;
@post-item-background-color: @primary-background-color;
@post-item-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
@post-item-border-radius: 3px;
@post-item-user-image-border-color: @primary-color;
@post-item-user-image-border-color-on-image: #ffffff;
@post-item-title-color: @post-item-color;
@post-item-title-color-on-image: #ffffff;
@post-item-date-color: fade(@post-item-title-color, 50%);
@post-item-date-color-on-image: fade(@post-item-title-color-on-image, 50%);
@post-item-share-color-on-image: fade(#ffffff, 50%);

// Loading icon
@loading-icon-circle: @button-background-color;
@loading-icon-circle-bg: fade(@button-background-color, 15%);

// Responsive options
// Breakpoints: 595, 900, 1205, 1510, 1815, 2120;
@responsive-breakpoint-items: 1,2,3,4,5,6;
