.t17-social-wall-header {
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;

  h2 {
    margin-top: 10px;
  }
}
.t17-social-wall-posts {
  margin: 50px auto 0;
  position: relative;
  padding-bottom: 80px;

  .t17-social-wall-posts-box.masonry-grid {
    .t17-social-wall-post:not(.is-new-post) {
      animation: fadeIn .3s ease-in-out forwards;
    }
  }
}

.t17-social-wall-post {
  width: 100%;
  padding: 20px 20px 18px;
  border-radius: @post-item-border-radius;
  opacity: 0;
  margin-bottom: 15px;
  box-sizing: border-box;
  background: @primary-background-color;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: @post-item-box-shadow;

  &.is-new-post {
    opacity: 0;
  }

  .t17-social-wall-post-header {
    position: relative;
    z-index: 2;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-direction: row;
    -ms-flex-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    img {
      border-radius: 50%;
      border: 2px solid @post-item-user-image-border-color-on-image;
      width: 40px;
      height: 40px;
      display: block;
      background: #fff;
      margin-right: 10px;
      box-sizing: border-box;
      image-rendering: -webkit-optimize-contrast;
    }

    .t17-social-wall-post-user-profile {
      display: -ms-flexbox;
      -ms-flex: 1;
      -ms-flex-direction: column;
      -ms-flex-align: start;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;

      .t17-social-wall-post-user-profile-name {
        color: @post-item-title-color-on-image;
        font-size: 15px;
        line-height: normal;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 168px;
      }
      .t17-social-wall-post-user-profile-date {
        color: @post-item-date-color-on-image;
        font-size: 12px;
        line-height: normal;
      }
    }

    .t17-social-wall-drop-down {
      margin-top: -12px;
      margin-right: -3px;
    }

    svg {
      width: auto;
      height: 18px;

      path {
        fill: fade(@primary-color, 60%);
      }
    }
  }

  .t17-social-wall-post-content {
    display: -ms-flexbox;
    -ms-flex: 1;
    -ms-flex-direction: row;
    -ms-flex-align: start;
    -ms-flex-pack: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    p {
      width: 100%;
      color: @primary-color;
      font-size: 16px;
      line-height: 22px;

      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .t17-social-wall-post-footer {
    display: -ms-flexbox;
    -ms-flex: 1;
    -ms-flex-direction: row;
    -ms-flex-align: start;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;

    svg {
      path {
        fill: @primary-color;
      }
    }
  }
}

@masonry-gap: 15;
//these breakpoints are not overwritebale, because breakpoints are set in ember
@_responsive-breakpoints: 595,900,1205,1510,1815,2120;
.item-breakpoints(@i: 1) when (@i <= length(@_responsive-breakpoints)) {

  @breakpoint: extract(@_responsive-breakpoints, @i);
  &[min-width*="@{breakpoint}px"] {
    .t17-social-wall-posts {
      .t17-social-wall-post {
        //convert to integer
        @responsive-items: convert(extract(@responsive-breakpoint-items, @i), '');
        @percentage-value: 100% / @responsive-items;
        @minus-value: ((@responsive-items - 1) * @masonry-gap) / @responsive-items;
        width: ~"calc(@{percentage-value} - @{minus-value}px)";
      }
    }
  }

  .item-breakpoints(@i + 1);
}

.t17-social-wall {
  .item-breakpoints();
}

.t17-social-wall-posts-footer {
  text-align: center;
}


/* kinds of posts style */

.t17-social-wall-post.is-text-post {
  .t17-social-wall-post-header {
    margin-bottom: 25px;

    img {
      border-color: @post-item-user-image-border-color;
    }
    .t17-social-wall-post-user-profile {
      .t17-social-wall-post-user-profile-name{
        color: @post-item-title-color;
      }

      .t17-social-wall-post-user-profile-date {
        color: @post-item-date-color;
      }
    }
  }
}

.t17-social-wall-post.is-image-text-post {
  position: relative;

  .t17-social-wall-post-header {
    svg {
      path {
        fill: @post-item-share-color-on-image;
      }
    }
  }
  .t17-social-wall-post-content {
    .image-gradient-wrapper {
      background: center center no-repeat;
      background-size: cover;
      height: 240px;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      color: #666666;
      font-size: 16px;
      line-height: 22px;
      border-top-right-radius: @post-item-border-radius;
      border-top-left-radius: @post-item-border-radius;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 130px;
        background: linear-gradient(to top, transparent 0, rgba(0, 0, 0, 0.05) 16%, rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.3) 71%, rgba(0, 0, 0, 0.6) 100%);
        opacity: .7;
      }
      &:before {
        border-top-right-radius: @post-item-border-radius;
        border-top-left-radius: @post-item-border-radius;
      }
      &:after {
        top: auto;
        bottom: 0;
        background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.015) 16%, rgba(0, 0, 0, 0.08) 35%, rgba(0, 0, 0, 0.2) 71%, rgba(0, 0, 0, 0.4) 100%);
        height: 60px;
        opacity: .5;
      }
    }
    .text-wrapper {
      width: 100%;
      margin-top: 196px;
      word-wrap: break-word;
      overflow: hidden;

      p {
        font-size: 13px;
        line-height: 20px;

        &:last-of-type{
          margin-bottom: -3px;
        }
      }
    }
  }

  .t17-social-wall-post-footer {
    position: absolute;
    top: 202px;
    right: 20px;
    bottom: auto;
    left: 20px;
    z-index: 2;
    margin-top: 0;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}

.t17-social-wall-post.is-image-post {
  position: relative;
  height: 340px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 130px;
    background: linear-gradient(to top, transparent 0, rgba(0, 0, 0, 0.05) 16%, rgba(0, 0, 0, 0.1) 35%, rgba(0, 0, 0, 0.3) 71%, rgba(0, 0, 0, 0.6) 100%);
    opacity: .7;
  }
  &:before {
    border-top-right-radius: @post-item-border-radius;
    border-top-left-radius: @post-item-border-radius;
  }
  &:after {
    top: auto;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.015) 16%, rgba(0, 0, 0, 0.08) 35%, rgba(0, 0, 0, 0.2) 71%, rgba(0, 0, 0, 0.4) 100%);
    border-bottom-right-radius: @post-item-border-radius;
    border-bottom-left-radius: @post-item-border-radius;
  }

  .t17-social-wall-post-header {
    svg {
      path {
        fill: @post-item-share-color-on-image;
      }
    }
  }

  .t17-social-wall-post-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    border-radius: @post-item-border-radius;

    img {
      display: block;
      position: absolute;
      top: 0;
      right: -50px;
      bottom: 0;
      left: -50px;
      width: auto;
      min-height: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: 0;
      background: #fff;
    }
  }
  .t17-social-wall-post-footer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    height: 18px;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}
